html {
  scroll-behavior: smooth;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px 0px;
    line-height: 1.5;
    background-color: #0D1017;
    color: #fff;
    font-size: 19px;
    font-family: 'Iosevka Web', 'Gill Sans';
    text-align: justify;
}

#content {
    display: block;
    margin: 0 0 20px;
}

.title {
    color: #39BAE6;
    font-size: 45px;
}

h2 {
    color: #FF8F40;
    font-size: 30px;
}

h3 {
    color: #FF8F40;
    font-size: 22px;
}

a {
    color: #39BAE6;
    text-shadow: rgba(0, 73, 142, 0.5) 0px 0px 5px;
}

.mark {
    color: #FF8F40; 
}

pre {
    padding: .5rem;
    background-color: #161b26;
    color: #BFBDB6;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: #EEE;
    overflow-x: auto;
}

.org-keyword{
    color: #01ff70;
}

.org-rainbow-delimiters-depth-1{
    color: #2ecc40;
}

.org-rainbow-delimiters-depth-2{
    color: #01ff70;
}

pre span {
    color: #e6b673; 
}
